# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Audio files
*.mp3
*.wav

# Visual Studio Garbage
*.opensdf
*.sdf
*.sln
*.vcproj
*.dsp
*.vcxproj*

# Visual Studio Subfolders and executables
Debug/
.vs/
